.about-me-title {
    font-size: 40px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 30px;
}

.divider {
    border: none;
    border-top: 1px solid rgb(56, 58, 54);
    margin: 2rem 0;
    width: 100%;
}