.bordes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.borde-tech {
    background-color: var(--background-green);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(116, 214, 135);
    font-size: 16px;
}

@media (max-width: 425px) {
    .borde-tech {
        padding: 5px;
    }
}

@media (max-width: 375px) {
    .borde-tech {
        padding: 1px;
    }
}

